body {
	font-family:Arial,微软雅黑,宋体;
	font-size:12px;
	background:url("../images/body.gif") repeat-x left top #fff;
	text-shadow: white 1px 1px 0;
	-webkit-text-size-adjust:none;
}

form, dl,dt,dd {
	margin:0px;
	padding:0px;
}

p {
	margin:10px 0px;
	text-align:left;
}
select {
	font-size:12px;
	font-family:Arial,微软雅黑,宋体;
}


#header {
	height:60px;
}

#login {
	width:800px;
	margin:50px 300px;
}
#login .logo {
	background: url("../images/logo.gif") no-repeat scroll -0px -0px transparent;
	height: 30px;
	padding-top: 26px;
	width: 180px;
	display: inline-block;
	float:left;
}
/* FORM */

#login dl {
	padding:4px 3px;
	display:block;
	width:450px;
}
#login  dt {
	width:60px;
	text-align:left;
	font-size:12px;
	color:#385361;
}
#login  dd {
	width:300px;
	text-align:left;
}

.input_text {
	width:280px;
	font-size:14px;
	padding:5px;
	font-family:Arial,微软雅黑,宋体;
	height: 18px;
	background: white url(../images/bg-textbox.gif) top center repeat-x;
	color: #555;
	border: 1px solid #ACB8CA;
	outline:none;
}

#error {
	color:red;
	background:#FFFEF4;
	border:1px solid #FFD1BB;
	border-radius: 6px;
	padding:10px;
	display:inline-block;
	margin:8px 20px;
	float:left;
}


#footer {
	color:#8B8DA3;
	font-size:10px;
	text-shadow: white 1px 1px 0;
}

